<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> — Social</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/x-icon" href="/images/favicon.svg">
</head>

<body class="error">
  <%- include('partials/header') %>
  <section>
    <div class="error-wrapper" >
      <h2><%= title %></h2>
      <p class="message"><%= message %></p>
      <a href="/">Go back home</a>
    </div>
  </section>
</body>

</html>
